// COLORS

$color-red-light-1: #e94957;
$color-red-1: #e63946;
$color-red-dark-1: #e42535;

$color-cream-1: #f1faee;

$color-sky-blue-1: #a8dadc;
$color-sky-blue-dark-1: #5fbcbf;

$color-blue-light-1: #457b9d;
$color-blue-1: #1d3557;

$color-grey-1: #7f8288;
$color-grey-light-1: #8d99ae;
$color-grey-dark-1: #333a48;
$color-white-1: #e7e9ef;

//BREAKPOINTS
$bp-largest: 112.5em; //1800px
$bp-larger: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px
